
My project/Assets/Unity.VisualScripting.Generated/VisualScripting.Core/Property Providers/Editor/PropertyProvider_Unity_Multiplayer_Tools_NetStatsMonitor_DisplayElementConfiguration.cs.meta
My project/Assets/misc/Unity.VisualScripting.Generated/VisualScripting.Core/Property Providers/Editor/PropertyProvider_Cinemachine_CinemachineBrain_VcamActivatedEvent.cs.meta
My project/Assets/misc/Unity.VisualScripting.Generated/VisualScripting.Core/Property Providers/Editor/PropertyProvider_Cinemachine_CinemachineImpulseDefinition.cs
My project/Assets/misc/Unity.VisualScripting.Generated/VisualScripting.Core/Property Providers/Editor/PropertyProvider_Cinemachine_CinemachineImpulseDefinition.cs.meta
My project/Assets/misc/Unity.VisualScripting.Generated/VisualScripting.Core/Property Providers/Editor/PropertyProvider_Cinemachine_CinemachineImpulseManager_EnvelopeDefinition.cs
My project/Assets/misc/Unity.VisualScripting.Generated/VisualScripting.Core/Property Providers/Editor/PropertyProvider_Cinemachine_CinemachineImpulseManager_EnvelopeDefinition.cs.meta
My project/Assets/misc/Unity.VisualScripting.Generated/VisualScripting.Core/Property Providers/Editor/PropertyProvider_Cinemachine_CinemachineTriggerAction_ActionSettings_TriggerEvent.cs
My project/Assets/misc/Unity.VisualScripting.Generated/VisualScripting.Core/Property Providers/Editor/PropertyProvider_Cinemachine_CinemachineTriggerAction_ActionSettings_TriggerEvent.cs.meta
My project/Assets/misc/Unity.VisualScripting.Generated/VisualScripting.Core/Property Providers/Editor/PropertyProvider_Unity_Multiplayer_Tools_NetStats_MetricId.cs
My project/Assets/misc/Unity.VisualScripting.Generated/VisualScripting.Core/Property Providers/Editor/PropertyProvider_Unity_Multiplayer_Tools_NetStats_MetricId.cs.meta
My project/Assets/misc/Unity.VisualScripting.Generated/VisualScripting.Core/Property Providers/Editor/PropertyProvider_Unity_Multiplayer_Tools_NetStatsMonitor_CounterConfiguration.cs
My project/Assets/misc/Unity.VisualScripting.Generated/VisualScripting.Core/Property Providers/Editor/PropertyProvider_Unity_Multiplayer_Tools_NetStatsMonitor_CounterConfiguration.cs.meta
My project/Assets/misc/Unity.VisualScripting.Generated/VisualScripting.Core/Property Providers/Editor/PropertyProvider_Unity_Multiplayer_Tools_NetStatsMonitor_DisplayElementConfiguration.cs
My project/Assets/misc/Unity.VisualScripting.Generated/VisualScripting.Core/Property Providers/Editor/PropertyProvider_Unity_Multiplayer_Tools_NetStatsMonitor_DisplayElementConfiguration.cs.meta
My project/Assets/misc/Unity.VisualScripting.Generated/VisualScripting.Core/Property Providers/Editor/PropertyProvider_Unity_Multiplayer_Tools_NetStatsMonitor_GraphConfiguration.cs
My project/Assets/misc/Unity.VisualScripting.Generated/VisualScripting.Core/Property Providers/Editor/PropertyProvider_Unity_Multiplayer_Tools_NetStatsMonitor_GraphConfiguration.cs.meta
My project/Assets/misc/Unity.VisualScripting.Generated/VisualScripting.Core/Property Providers/Editor/PropertyProvider_Unity_Multiplayer_Tools_NetStatsMonitor_PositionConfiguration.cs
My project/Assets/misc/Unity.VisualScripting.Generated/VisualScripting.Core/Property Providers/Editor/PropertyProvider_Unity_Multiplayer_Tools_NetStatsMonitor_PositionConfiguration.cs.meta
My project/Assets/scripts/Inventory system/7-Stack Manager/XScriptMachine.cs
My project/Assets/scripts/Inventory system/7-Stack Manager/XScriptMachine.cs.meta
My project/Assets/scripts/Inventory system/inventory.asset
My project/ProjectSettings/VisualScriptingSettings.asset
My project/Assets/scripts/Inventory system/inventory.asset
My project/ProjectSettings/VisualScriptingSettings.asset
